
<h3><%= link_to "Click here to Track", :controller=>'user_calories_data', :action=> 'track' %> &nbsp  </h3>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">User Information</h3>
 </div>

<div id="userlist">
<%= render 'userinfo' %>
</div>

<div id="usercalorielist">
<%= render 'usercaloriedatalist' %>
</div>

</div>